* {
  background-color: #555b6eff;
}

body {
  font-family: "DotGothic16", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #faf9f9ff;
}

p {
  color: #faf9f9ff;
}

.header {
  text-align: center;
}

.main {
  text-align: left;
  margin: 50px;
}

.footer {
  text-align: center;
}

/* カラー変数（CSS変数は:rootの中に書く） */
:root {
  --blue-slate: #555b6eff;
  --muted-teal: #89b0aeff;
  --frozen-water: #bee3dbff;
  --bright-snow: #faf9f9ff;
  --peach-fuzz: #ffd6baff;
}

/* レスポンシブ */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 2rem;
  }
  .main {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;  
  }
}
