.background::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('https://r2-media.spring-server.com/output.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);

  filter: blur(12px);

  z-index: -1;

  /* blurで端が見切れるの防止 */
  transform: scale(1.05);
}

body {
  margin: 0;
  font-family: "DotGothic16", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #faf9f9ff;
}

p {
  color: #faf9f9ff;
}

.header {
  text-align: center;
}

.main {
  text-align: left;
  margin: 50px;
}

.footer {
  text-align: center;
}

a {
  color: #bee3dbff;
}

/* カラー変数（CSS変数は:rootの中に書く） */
:root {
  --blue-slate: #555b6eff;
  --muted-teal: #89b0aeff;
  --frozen-water: #bee3dbff;
  --bright-snow: #faf9f9ff;
  --peach-fuzz: #ffd6baff;
}

/* レスポンシブ */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 2rem;
  }
  .main { 
    max-width: 960px;
    margin-left: clamp(5rem, 30%, 50%);
    margin-right: auto; /* 右は自動で余白 */
    padding-left: clamp(0.5rem, 2vw, 1.5rem);
  }
}
